<div class="main-container">
    <div class="heading">
        Add New Task
    </div>
    <form class="input-field" #task="ngForm" (ngSubmit)="TaskList.addTaskData({task:task.value.task,status:false})">
        <input type="text" placeholder="Enter Task" name="task" required ngModel>
        <button type="submit" class="btn-submit">></button>
    </form>
    <div class="heading-2">
        TO-DO List
    </div>
    <div class="display-list">
        <tr *ngFor="let task of TaskList.tasks.reverse()">
            <a *ngIf="task.status; else elseblock">
                <input type="checkbox" checked class="checkbox-round"
                    (click)="TaskList.updateTaskData({id:task._id,status:task.status})" ng-model="checkSelect">
                {{task.task}}
            </a>
            <ng-template #elseblock>
                <a>
                    <input type="checkbox" class="checkbox-round"
                        (click)="TaskList.updateTaskData({id:task._id,status:task.status})" ng-model="checkSelect">
                    {{task.task}}
                </a>
            </ng-template>
            <button class="btn-delete" (click)="TaskList.deleteTaskData({id:task._id})" ng-model="deleteBtn">x</button>
        </tr>
    </div>
</div>