<div class="main-container">
    <div class="heading-2">
        Task Active List
    </div>
    <div class="display-list">
        <ng-container *ngFor="let task of TaskList.tasks.reverse()">
            <tr *ngIf="!task.status">
                <a>
                    <input type="checkbox" class="checkbox-round"
                        (click)="TaskList.updateTaskData({id:task._id,status:task.status})" ng-model="checkSelect">
                    {{task.task}}
                </a>
                <button class="btn-delete" (click)="TaskList.deleteTaskData({id:task._id})"
                    ng-model="deleteBtn">x</button>
            </tr>
        </ng-container>
    </div>
</div>