@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap");
* {
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: rgb(204, 204, 204);
}
.heading {
  padding: 10px;
}
.main-container {
  font-size: 28px;
  text-align: center;
  padding: 20px;
  width: 45%;
  margin: auto;
  height: max-content;
  border-radius: 25px;
  margin-top: 20px;
  background-color: rgb(255, 255, 255);
}
.heading-2 {
  padding: 10px;
  padding-left: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 22px;
  text-align: left;
}
.display-list {
  text-align: left;
  font-size: 18px;
}
.checkbox-round {
  width: 1.5em;
  height: 1.5em;
  background-color: rgb(255, 22, 22);
  border-radius: 50%;
  vertical-align: middle;
  border: 1px solid rgb(0, 0, 0);
  appearance: none;
  -webkit-appearance: none;
  outline: none;
  cursor: pointer;
  margin-right: 5px;
}

.checkbox-round:checked {
  background-color: rgb(68, 224, 54);
}

.display-list {
  padding: 2px;
  text-align: left;
  font-size: 18px;
}
.btn-delete {
  font-size: larger;
  color: red;
  background-color: white;
}
tr {
  margin: 0 10px;
  align-items: center;
  justify-content: space-between;
  display: flex;
  padding: 5px;
  padding-bottom: 8px;
  margin-bottom: 5px;
  border-bottom: 2px solid rgb(212, 212, 212);
  border-right: 2px solid rgb(212, 212, 212);
  border-radius: 10px;
}
tr:hover,
tr:hover > .btn-delete {
  background-color: rgb(228, 228, 228);
}
